*~*
*.komodoproject
*.project
.idea
.tags
.tags_swap
.env
.vagrant
.imdone
tags
Vagrantfile
Homestead.yaml
npm-debug.log
composer.lock
node_modules
/vendor
public/cargas/*
public/dist/*
public/img/0/*
public/tmp*/*
